.extrato-completo {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.extrato {
  background-color: white;
  margin-left: 10px;
}

.titulo {
  text-align: center;
  font-size: 4px;
  margin-bottom: 16px;
  font-family: "Goldman", cursive;
}

.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(0, 131, 20);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Goldman", cursive;
  width: 450px;
  position: absolute;
  right: 0;
  color: white;
  margin-right: 40px;
}
.tabela__cabecalho {
  color: var(--primary);
  margin: 0 0 0 5px;
}

.tabela__conteudo {
  padding: 30px;
  border-bottom: 2px solid green;
  margin-right: 100px;
}

.tabela__linha {
  margin-bottom: 10px;
  border-radius: 4px;
}
.mensagem {
  margin-left: 100px;
}

.tabela__conteudo {
  padding: 10px;
  border-bottom: 1px solid var(--cinza-claro);
}

main {
  flex: 3;

  text-align: center;
}
.extrato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
