<div class="background">
  <div class="formulario">
    <form>
      <a routerLink="/"><img src="assets/logo.png" /></a>

      <label for="conta">Digite o email do usuário:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email@email.com"
      />

      <label for="conta">Digite o valor da transferência:</label>
      <input type="number" id="conta" name="conta" placeholder="Ex: 500,00" />

      <button type="submit">Transferir</button>
    </form>
  </div>
</div>
