@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.background{
    background-color: rgb(0, 131, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 131, 20);
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid;
    width: 400px;
    height: 500px;
    background-color: white;
    font-family: 'Goldman', cursive;
    animation: colors 9s ease infinite;
}

.formulario img{
    width: 150px;
    margin-top: -100px;

}

form input {
    margin-top: 20px;
}

form label {
    margin-top: 20px;
}

form button {
    margin-top: 20px;
}
@keyframes colors {
    0% {
      box-shadow: 0px 0px 30px #ffffff, 0px 0px 10px silver;
    }
    30% {
      box-shadow: 0px 0px 30px #00ff26, 0px 0px 10px silver;
    }
    50% {
      box-shadow: 0px 0px 30px #ff0000, 0px 0px 10px silver;
    }
    100% {
      box-shadow: 0px 0px 30px #e1ff00, 0px 0px 10px silver;
    }
  }
  
  form button{
      background-color: rgb(0, 131, 20);
      color: white;
  }