<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="foto-logo" src="assets/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="#">Para você</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Para sua empresa</a>
          </li>
 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entrar? Possuí uma conta?
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/login">Entrar</a></li>
              <li><a class="dropdown-item" href="#">Criar uma conta</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/carousel.png" class="d-block w-100" alt="Foto demonstrativa do Banco">
      </div>
      <div class="carousel-item">
        <img  src="assets/carousel2.png" class="d-block w-100 foto2-carousel" alt="Foto demonstrativa do Banco 2">
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<main>
    <div class="emprestimos">
      <h2>Compre sua casa</h2>
      <img src="assets/casa.png" alt="Foto casa">
      <a href="#"><h2>Finance sua casa clicando aqui</h2></a>
    </div>
    <div class="emprestimo-carro">
      <h2>Compre seu carro</h2>
      <img src="assets/carro.png" alt="Foto carro">
      <a href="#"><h2>Finance seu carro clicando aqui</h2></a>
    </div>

</main>